In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../full_2020.csv",low_memory=False)
del df['id_mutation']
del df['numero_disposition']
del df['ancien_code_commune']
del df['ancien_nom_commune']
del df['numero_volume']
del df['ancien_id_parcelle']
del df['lot1_numero']
del df['lot1_surface_carrez']
del df['lot2_numero']
del df['lot2_surface_carrez']
del df['lot3_numero']
del df['lot3_surface_carrez']
del df['lot4_numero']
del df['lot4_surface_carrez']
del df['lot5_numero']
del df['lot5_surface_carrez']
del df['nombre_lots']
del df['code_type_local']
del df['code_nature_culture_speciale']
del df['id_parcelle']
del df['code_nature_culture']
del df['nature_culture']
del df['nature_culture_speciale']
df

,date_mutation,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
0,2020-01-07,Vente,8000.0,NaN,NaN,FORTUNAT,B063,1250.0,01072,Ceyzériat,01,NaN,NaN,NaN,1061.0,5.323540,46.171919
1,2020-01-02,Vente,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,01203,Laiz,01,NaN,NaN,NaN,85.0,4.893436,46.251868
2,2020-01-02,Vente,2175.0,NaN,NaN,BOIS DU CHAMP RION,B006,1290.0,01203,Laiz,01,NaN,NaN,NaN,1115.0,4.899919,46.235327
3,2020-01-02,Vente,2175.0,NaN,NaN,EN COROBERT,B025,1290.0,01203,Laiz,01,NaN,NaN,NaN,1940.0,4.882347,46.246519
4,2020-01-02,Vente,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,01203,Laiz,01,NaN,NaN,NaN,1148.0,4.894688,46.251820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2459555,2020-12-16,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,75104,Paris 4e Arrondissement,75,Appartement,87.0,4.0,447.0,2.350481,48.854293
2459556,2020-12-16,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,75104,Paris 4e Arrondissement,75,Dépendance,NaN,0.0,447.0,2.350481,48.854293
2459557,2020-12-16,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,75104,Paris 4e Arrondissement,75,Appartement,82.0,2.0,447.0,2.350481,48.854293
2459558,2020-12-16,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,75104,Paris 4e Arrondissement,75,Dépendance,NaN,0.0,447.0,2.350481,48.854293
2459559,2020-10-08,Adjudication,255000.0,39.0,NaN,RUE SAINT-SAUVEUR,8752,75002.0,75102,Paris 2e Arrondissement,75,Appartement,21.0,1.0,NaN,2.348149,48.865935

In [4]:
df1 = pd.read_csv("../full_2020.csv",low_memory=False,usecols=['date_mutation','nature_mutation','valeur_fonciere','adresse_numero','adresse_suffixe','adresse_nom_voie','adresse_code_voie','code_postal','code_commune','nom_commune','code_departement','type_local','surface_reelle_bati','nombre_pieces_principales','surface_terrain','longitude','latitude'])[['date_mutation','nature_mutation','valeur_fonciere','adresse_numero','adresse_suffixe','adresse_nom_voie','adresse_code_voie','code_postal','code_commune','nom_commune','code_departement','type_local','surface_reelle_bati','nombre_pieces_principales','surface_terrain','longitude','latitude']]
df1

,date_mutation,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
0,2020-01-07,Vente,8000.0,NaN,NaN,FORTUNAT,B063,1250.0,01072,Ceyzériat,01,NaN,NaN,NaN,1061.0,5.323540,46.171919
1,2020-01-02,Vente,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,01203,Laiz,01,NaN,NaN,NaN,85.0,4.893436,46.251868
2,2020-01-02,Vente,2175.0,NaN,NaN,BOIS DU CHAMP RION,B006,1290.0,01203,Laiz,01,NaN,NaN,NaN,1115.0,4.899919,46.235327
3,2020-01-02,Vente,2175.0,NaN,NaN,EN COROBERT,B025,1290.0,01203,Laiz,01,NaN,NaN,NaN,1940.0,4.882347,46.246519
4,2020-01-02,Vente,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,01203,Laiz,01,NaN,NaN,NaN,1148.0,4.894688,46.251820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2459555,2020-12-16,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,75104,Paris 4e Arrondissement,75,Appartement,87.0,4.0,447.0,2.350481,48.854293
2459556,2020-12-16,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,75104,Paris 4e Arrondissement,75,Dépendance,NaN,0.0,447.0,2.350481,48.854293
2459557,2020-12-16,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,75104,Paris 4e Arrondissement,75,Appartement,82.0,2.0,447.0,2.350481,48.854293
2459558,2020-12-16,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,75104,Paris 4e Arrondissement,75,Dépendance,NaN,0.0,447.0,2.350481,48.854293
2459559,2020-10-08,Adjudication,255000.0,39.0,NaN,RUE SAINT-SAUVEUR,8752,75002.0,75102,Paris 2e Arrondissement,75,Appartement,21.0,1.0,NaN,2.348149,48.865935

In [ ]:
df2=pd.read_csv("../full_2020.csv",low_memory=False)